name: mokumoku
on:
  schedule:
    - cron: "1 3 1 * *"

env:
  TZ: "Asia/Tokyo"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "::set-output name=current::$(date +'%Y-%m')"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Set day
        id: day
        run: echo "::set-output name=day::$(python get_third_thursday.py)"
      - name: create dir
        run: python create_meetup_dir.py
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: ":sparkles: Add ${{ steps.date.outputs.current }} mokumoku File"
          committer: YutaGoto <YutaGoto@users.noreply.github.com>
          author: YutaGoto <YutaGoto@users.noreply.github.com>
          title: ":tada: アイマスもくもく会"
          body: |
            # アイマスもくもく会東京

            ## 日程

            ${{ steps.date.outputs.current }}-${{ steps.day.outputs.day }} (木) 20:00-22:00

            ## 場所

            オンライン(Discord)

            ## ToDo

            - [ ] connpassのページをつくる
            - [ ] connpassヘッダー絵を準備する
          branch: add-mokumoku-${{ steps.date.outputs.current }}
      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
